div #test {
    margin: 0 auto;
    width: 96%;
    overflow: hidden;
}

div #test_question {
    padding-top: 20px;
    min-height: 250px;
}

div #test_question_description {
    padding-bottom: 25px;
}

div #test_question_answer {
    padding-bottom: 15px;
}

div #test_question li {
    list-style: none;
    vertical-align: center;
}

div #test_question_text {
    overflow: hidden;
}
#test_question_text { width: 100%; clear: both; margin: 20px 0 10px; }
#test_question_text .viewport { width: 100%; height: 100%; position: relative; }
#test_question_text .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#test_question_text .scrollbar{ background: transparent url(/static/img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#test_question_text .track { background: transparent url(/static/img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:15px; position: relative; }
#test_question_text .thumb { background: transparent url(/static/img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#test_question_text .thumb .end { background: transparent url(/static/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#test_question_text .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

