{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DATEdge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Le styles -->
    <link href="{{STATIC_URL|default:"/s/"}}css/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL|default:"/s/"}}css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      {% block css %}{% endblock %}
    </style>
    <link href="{{STATIC_URL|default:"/s/"}}css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL|default:"/s/"}}css/datedge-common.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
     -->
     <script src="{{STATIC_URL|default:"/s/"}}js/jquery-1.9.0.js"></script>
     <script src="{{STATIC_URL|default:"/s/"}}js/jquery.nanoscroller.min.js"></script>
     <link rel="stylesheet" href="{{STATIC_URL|default:"/s/"}}css/nanoscroller.css" /> 
     <script src="{{STATIC_URL|default:"/s/"}}js/jquery.countdown.js"></script>
     <link rel="stylesheet" href="{{STATIC_URL|default:"/s/"}}css/jquery.countdown.css" /> 
     <script type="text/javascript">
     {% block javascript %}
     $(function(){
     {% block jquery %}
     {% endblock %}
     });
     {% endblock %}
     </script>
     {% if not debug %}{% include "analytics.html" %}{% endif %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/"><img src="{{STATIC_URL|default:"/s/"}}img/DATEdge_logo.png" width="160px" /></a>
          {% if user.is_authenticated %}
          <ul class="nav pull-right">
            <li class="active"><a href="/purchase">Buy Now</a></li>
            <li><a href="/trial">Free Trial</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>{{user.first_name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'home' %}"><i class="icon-briefcase"></i>My Account</a></li>
                <li><a href="/accounts/logout"><i class="icon-off"></i>Sign out</a></li>
                {% if user.is_staff %}
                <li class="divider"></li>
                <li class="nav-header">Administration</li>
                <li><a href="{% url 'admin:index' %}">Site Administration</a></li>
                <li><a href="{% url 'admin:app_list' 'accounts' %}">Accounts</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          {% else %}
          <form class="navbar-form pull-right" action="{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}" method="post">{% csrf_token %}
              <input class="span2" type="text" name="username" placeholder="Username">
              <input class="span2" type="password" name="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
      {% if messages %}
      <div class="row">
        <div class="span12">
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <strong>{{message.tags|title}}:</strong> {{message}}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if debug %}
      <div class="alert"><strong>Running in DEBUG mode</strong></div>
      {% endif %}
{% block base_content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Get 5 DAT Reading Comprehension Tests</h1>
        <p>Use DATEdge to prepare for the most difficult section of the DAT.</p>
        <p><a class="btn btn-primary btn-large">Buy Now $47 &raquo;</a> <a class="btn btn-info btn-large">Free Trial &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
          <h2>5 Practice Tests</h2>
          <p>Five DAT computer-based tests with standardized scoring.</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
          <h2>250 Questions</h2>
          <p>All 15 Reading passages and 250 questions reflect the difficulty of the exam.</p>          
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
          <h2>6-month License</h2>
          <p>You'll have unlimited access to practice tests for 6 full months.</p>
          </div>
        </li>
      </ul>
      <div class="well">
        <h2>Frequently Asked Questions</h2>
        <p>Q. What are my payment options?<br />
A. We accept payments through Visa, Mastercard, and American Express.</p>
<p>Q. What is your refund policy?<br />
A. We at DATEdge want you to be completely happy with your purchase. If you have any questions, concerns, or problems, please let us know in the Contact section.</p>
<p>We are so confident with DATEdge will refund your money in full if you receive a score below 19 in the Reading Comprehension of the DAT after using our DATEdge test preparation material. We back up our claims of success with a full money back guarantee.</p>
      </div>
      <ul class="thumbnails">
        <li class="span4">
        <div class="thumbnail">
        <ul>
            <li><a href="{% url 'refund' %}">Refund Policy</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
        </ul>
        </div>
        </li>
        <li class="span4">
        <div class="thumbnail">
            <h3>Payment Methods</h3>
            <img src="{{STATIC_URL|default:"/s/"}}img/creditcardlogos.jpg" width="250px" />
        </div>
        </li>
        <li class="span4">
        <div class="thumbnail">
            <h3>Contact Us</h3>
            <form action="" method="post">
            <input type="text" name="name" maxlength="100" placeholder="Name" />
            <input type="text" name="email" maxlength="100" placeholder="Email" />
            <textarea name="message" maxlength="1000" placeholder="Your message"></textarea><br />
            <input type="submit" value="send" class="btn" />
            </form>
        </div>
        </li>
      </ul>

{% endblock %}
      
{% block footer %}
      <hr />
      <footer>
        <p>&copy; DATEdge 2013</p>
      </footer>
{% endblock %}

    </div> <!-- /container -->
    <script src="{{STATIC_URL|default:"/s/"}}js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{STATIC_URL|default:"/s/"}}js/bootstrap.min.js"></script>
    {% block extrafooter %}{% endblock %}
  </body>
</html>

