{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
  // this identifies your website in the createToken call below
  Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE }}');
  // ...
$(function() {
  $('#payment-form').submit(function(event) {
    // Disable the submit button to prevent repeated clicks
    $('.submit-button').prop('disabled', true);

    Stripe.createToken({
      number: $('.card-number').val(),
      cvc: $('.card-cvc').val(),
      exp_month: $('.card-expiry-month').val(),
      exp_year: $('.card-expiry-year').val()
    }, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});

function stripeResponseHandler(status, response) {
  if (response.error) {
    // Show the errors on the form
    $('.payment-errors').text(response.error.message).show();
    $('.submit-button').prop('disabled', false);
  } else {
    var $form = $('#payment-form');
    // token contains id, last4, and card type
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
}
</script>
{% endblock %}

{% block jquery %}
$('.payment-errors').hide();
{% endblock %}

{% block base_content %}
<h1>Checkout</h1>
<br /><br />
<div class="row">
<div class="span8 offset2">
    <div class="row">
        <div class="span5 muted">
            DATEdge<br />6-month Unlimited License
        </div>
        <div class="span1">
            x1
        </div>
        <div class="span2">
            $49 USD
        </div>
    </div>
    <hr />
    <div class="payment-errors alert"></div>
    <form action="/process/" method="POST" id="payment-form" class="form-horizontal">
    {% csrf_token %}
      <div class="control-group">
        <label class="control-label">
          <span>Card Number</span>
        </label>
        <div class="controls">
            <input type="text" size="20" maxlength="20" autocomplete="off" class="card-number" placeholder="1234123412341234" {% if debug %}value="4242424242424242"{% endif %} />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">
          <span>CVC</span>      
        </label>
        <div class="controls">
            <input type="text" size="4" maxlength="4" autocomplete="off" class="card-cvc input-mini" placeholder="123" {% if debug %}value="123"{% endif %} />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">
          <span>Expiration (MM/YYYY)</span>      
        </label>
        <div class="controls">
            <input type="text" size="2" maxlength="2" class="card-expiry-month input-mini" placeholder="12" {% if debug %} value="12" {% endif %}/>
            <span> / </span>
            <input type="text" size="4" maxlength="4" class="card-expiry-year input-small" placeholder="2015" {% if debug %} value="2015" {% endif %} />
        </div>
      </div>

      <button type="submit" class="btn btn-success submit-button pull-right">Submit Payment</button>
    </form>
</div>
</div>
{% endblock %}
