{% extends 'base.html' %}

{% block base_content %}
<div class="row">
<div class="span4 offset4">
<div id="wufoo-z7x3p3">
Fill out my <a href="http://datedge.wufoo.com/forms/z7x3p3">online form</a>.
</div>
<script type="text/javascript">var z7x3p3;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'datedge', 
'formHash':'z7x3p3', 
'autoResize':true,
'height':'497',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3p3 = new WufooForm();z7x3p3.initialize(options);z7x3p3.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
<br /><br />
1-866-589-0429<br />
support@datedge.com
</div>
</div>
{% endblock %}
