{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}
{% block base_content %}
<div id="faq">
<h2>Frequently Asked Questions</h2>
<p>Q. What are my payment options?<br />
A. We accept payments through Visa, Mastercard, and American Express.</p>
<p>Q. What is your refund policy?<br />
A. We at DAT Edge want you to be completely happy with your purchase. If you have any questions, concerns, or problems, please let us know in the Contact section.</p>
<p>We are so confident with DAT Edge that we will refund your money in full if you receive a score below 19 in the Reading Comprehension section of the DAT after using our DATEdge test preparation material. We back up our claims of success with a full money back guarantee.</p>
      </div>

{% endblock %}
