{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}
{% block base_content %}
<div id="privacy_policy">
<h2>Privacy Policy</h2>
<p>DAT Edge takes your privacy seriously.</p>

<p>At datedge.com, we recognize that privacy of your personal information is important.</p>

<p>This privacy policy describes what personal information we collect and how we use it.</p>

<p>We will never sell your personal information to third parties.</p>

<h3>Log Files</h3>

<p>As with most other websites, we collect and use the data contained in log files. The information in the log files include your IP (internet protocol) addresses, ISP (internet service provider), browser details, timestamps, and referring pages. This information is tracked for routine administration and maintenance purposes.</p>

<h3>Cookies and Web Beacons</h3>

<p>datedge.com also uses cookies to store information about a visitor’s preferences and history in order to better serve the visitor.</p>

<p>We don't work with any advertising partners and other third parties so there is no tracking done by any other party.</p>

<h3>Controlling Your Privacy</h3>

<p>You can choose to disable cookies if you have privacy concerns. However, note that, it can affect how you are able to interact with our site, as well as other websites.</p>

<p>Please consult your browser documentation for instructions on how to disable cookies.</p>

<p>Thank you for taking the time to read this and as always, thank you for visiting datedge.com</p>

<p>Concerns or questions about our privacy policy can be directed to support (@) datedge.com for further clarification.</p>
</div>
{% endblock %}
