{% extends 'base.html' %}
{% load url from future %}
{% block jquery %}
var window_height = $(window).height()-430;
$('div#test_question_text').css({'height': window_height + 'px'});
$('div#test_question_text').nanoScroller({flash: true, flashDelay: 100000});
$(window).resize(function() {
    var window_height = $(window).height()-430;
    $('div#test_question_text').css({'height': window_height + 'px'}).nanoScroller({flash: true, flashDelay: 100000});

});
{% if sitting.is_timed %}
$('#timer').countdown({until: new $.countdown.UTCDate({{ sitting.timerstring }}), expiryUrl: '{% url 'sitting_end' sitting.id %}', layout: '<i class="icon-time"> </i> {mnn}{sep}{snn}'});
{% endif %}

function timerCallback() {
    alert('times up');
}
{% endblock %}
{% block base_content %}
<div id="test_container">
<form action="" method="post">
<div id="test">
    <div id="timer" class="pull-right"></div>
    <div id="test_question">
        <div id="test_question_description">{{ question.num }}. {{ question.description|safe }}</div>
        <div id="test_question_answer">
        {% csrf_token %}
        <ul>
        {% autoescape off %}
        {% for item in form.answer %}
            <li><span class="test_review_checkmark">{% if not sitting.is_active %}{% if forloop.counter0 == question.answer_idx %}<i class="icon-ok"> </i>{% endif %}{% endif %}</span>{{ item|safe }}</li>
        {% endfor %}
        {% endautoescape %}
        </ul>
        </div>
    </div>
    <div class="text-center divider">
        <img src="{{STATIC_URL|default:"/s/"}}img/divider.png" alt="" />
    </div>
    <div id="test_question_text" class="nano">
        <div class="content">
        {{ question.text|safe }}
        </div>
    </div>
    <div class="test_buttons">
    <table style="width: 100%">
    <tr>
    <td class="cell-center">
    {% if question.back %}
    <input type="submit" class="btn" alt="Back" name="submit_back" value="Back" />
    {% else %}
    <input type="submit" class="btn" alt="Back" name="submit_back" value="Back" disabled />
    {% endif %}
    </td>
    <td class="cell-center"><input type="submit" class="btn" alt="Next" name="submit_next" value="Next"/></td>
    <td class="cell-center">
    {% if sitting.is_active %}
        {% if question.is_marked %}
        <a class="btn btn-warning" href="{% url 'sitting_mark' sitting.id question.num %}">Marked</a>
        {% else %}
        <a class="btn" href="{% url 'sitting_mark' sitting.id question.num %}">Mark</a>
        {% endif %}
    {% else %}
        {% if question.is_marked %}
        <a class="btn btn-warning" href="{% url 'sitting_mark' sitting.id question.num %}" disabled>Marked</a>
        {% else %}
        <a class="btn" href="{% url 'sitting_mark' sitting.id question.num %}" disabled>Mark</a>
        {% endif %}
    {% endif %}
    </td>
    <td class="cell-center"><a class="btn" href="{% url 'sitting_review' sitting.id %}">Review</a></td>
    </tr>
    </table>
    </div>
</form>
</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
