{% extends 'base.html' %}
{% load url from future %}
{% block jquery %}
var window_height = $(window).height()-400;
$('div#test_question_text').css({'height': window_height + 'px'});
$('div#test_question_text').nanoScroller();
$(window).resize(function() {
    var window_height = $(window).height()-400;
    $('div#test_question_text').css({'height': window_height + 'px'}).nanoScroller();

});
{% if sitting.is_timed %}
$('#timer').countdown({until: new $.countdown.UTCDate({{ sitting.timerstring }}), expiryUrl: '{% url 'sitting_end' sitting.id %}', layout: '<i class="icon-time"> </i> {mnn}{sep}{snn}'});
{% endif %}

function timerCallback() {
    alert('times up');
}
{% endblock %}
{% block base_content %}
<div id="test_container">
<form action="" method="post">
{% if question.back %}
<div id="backarrow" title="back">
<input type="image" src="{{STATIC_URL|default:"/s/"}}img/back_arrow.png" alt="back" name="submit_back" value="back" />
</div>
{% endif %}
<div id="nextarrow" title="next">
<input type="image" src="{{STATIC_URL|default:"/s/"}}img/next_arrow.png" alt="next" name="submit_next" value="next"/>
</div>
<div id="bookmark" title="mark">
{% if sitting.is_active %}
    {% if question.is_marked %}
    <a href="{% url 'sitting_mark' sitting.id question.num %}"><img src="{{STATIC_URL|default:"/s/"}}img/bookmarked.png" alt="mark" /></a>
    {% else %}
    <a href="{% url 'sitting_mark' sitting.id question.num %}"><img src="{{STATIC_URL|default:"/s/"}}img/bookmark.png" alt="mark" /></a>
    {% endif %}
{% endif %}
</div>
<div id="review" title="review">
<a href="{% url 'sitting_review' sitting.id %}"><img src="{{STATIC_URL|default:"/s/"}}img/review.png" alt="review" /></a>
</div>
<div id="test">
    <div id="timer" class="pull-right"></div>
    <div id="test_question">
        <div id="test_question_description">{{ question.num }}. {{ question.description|safe }}</div>
        <div id="test_question_answer">
        {% csrf_token %}
        <ul>
        {% autoescape off %}
        {% for item in form.answer %}
            <li><span class="test_review_checkmark">{% if not sitting.is_active %}{% if forloop.counter0 == question.answer_idx %}<i class="icon-ok"> </i>{% endif %}{% endif %}</span>{{ item|safe }}</li>
        {% endfor %}
        {% endautoescape %}
        </ul>
        </div>
    </div>
    <div class="text-center divider">
        <img src="{{STATIC_URL|default:"/s/"}}img/divider.png" alt="" />
    </div>
    <div id="test_question_text" class="nano">
        <div class="content">
        {{ question.text|safe }}
        </div>
    </div>
</div>
</form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
