{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}
{% block base_content %}
<div id="resources">
<h2>Resources</h2>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">General Information About The DAT</a>
        </div>
        <div id="collapse1" class="accordion-body collapse">
            <div class="accordion-inner">
           <p>The Dental Admission Test (DAT) is a standardized exam administered by the American Dental Association (ADA). The DAT measures academic and perceptual ability of an individual, along with their capability to understand scientific data.</p>
<p>
The DAT is computer-based and is composed of four sections.<br />
The four timed sections include:
<ul>
<li>Survey of the Natural Sciences – 100 Questions  (90 minutes)</li>
<li>Perceptual Ability Test – 90 Questions (60 minutes)</li>
<li>Break – 15 minutes</li>
<li>Reading Comprehension Test – 50 questions (60 minutes)</li>
<li>Quantitative Reasoning Test – 40 questions  (45 minutes)</li>
</ul>
</p>
<p>
Even though there are four timed sections on the DAT, you will receive total of eight scores:
<ul>
<li>Biology</li>
<li>General Chemistry</li>
<li>Organic Chemistry</li>
<li>Quantitative Reasoning</li>
<li>Reading Comprehension</li>
<li>Total Science (TS)</li>
<li>Academic Average (AA)</li>
<li>Perceptual Ability (PAT)</li>
</ul>
</p>
<p>
For more information about the Dental Admission Test, download the <a href="http://www.ada.org/sections/educationAndCareers/pdfs/info_dat_practice_test.pdf">general information</a> given by the American Dental Association. To register the Dental Admission Test, go to: <a href="http://www.ada.org/dat.aspx">ADA’s website</a> </p>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">Topics Covered on the DAT</a>
        </div>
        <div id="collapse2" class="accordion-body collapse">
            <div class="accordion-inner">
<h4>Biology</h4>

<h5>Cell and Molecular Biology</h5>

<p>Origin of life, cell metabolism (including photosynthesis/ enzymology, cellular processes, thermodynamics, organelle structure and function, mitosis/meiosis, cell structure, and experimental cell biology</p>

<h5>Diversity of Life: Biological Organization and Relationship of Major Taxa (Six-Kingdom, Three-Domain System)</h5>

<p>Plantae, animalia, protista, fungi, eubacteria (bacteria), archae, etc.</p>

<h5>Structure and Function of Systems</h5>

<p>Integumentary, skeletal, muscular, circulatory, immunological, digestive, respiratory, urinary, nervous/senses, endocrine, reproductive, etc.</p>

<h5>Developmental Biology</h5>

<p>Fertilization, descriptive embryology, developmental mechanisms, and experimental embryology</p>

<h5>Genetics</h5>

<p>Molecular genetics, human genetics, classical genetics, chromosomal genetics, and genetic technology</p>

<h5>Evolution, Ecology, and Behavior</h5>

<p>Natural selection, population genetics/speciation, cladistics, population and community ecology, ecosystems, and animal behavior (including social behavior)</p>


<h4>General Chemistry</h4>

<h5>Stoichiometry and General Concepts</h5>

<p>Percent composition, empirical formulae, balancing equations, moles and molecular formulas, molar mass, density, and calculations from balanced equations</p>


<h5>Gases</h5>

<p>Kinetic molecular theory of gases, Dalton’s, Boyle’s, Charles’s, and ideal gas law Liquids and Solids - intermolecular forces, phase changes, vapor pressure, structures, polarity, and properties</p>

<h5>Solutions</h5>

<p>Polarity, properties (colligative, non-colligative), forces, and concentration calculations</p>

<h5>Acids and Bases</h5>

<p>pH, strength, Brønsted-Lowry reactions, calculations, and Lewis Reactions</p>

<h5>Chemical Equilibria</h5>

<p>Molecular, acid/base, precipitation, calculations, and Le Chatelier’s principle, and Molecular form weights</p>

<h5>Thermodynamics and Thermochemistry</h5>

<p>Laws of thermodynamics, Hess’s law, spontaneity, enthalpies and entropies, and heat transfer</p>

<h5>Chemical Kinetics</h5>

<p>Rate laws, activation energy, and half-life Oxidation-Reduction Reactions - balancing equations, determination of oxidation numbers, electrochemical calculations, and electrochemical concepts and terminology</p>

<h5>Atomic and Molecular Structure</h5>

<p>Electron configuration, orbital types, Lewis-Dot diagrams, atomic theory, quantum theory, molecular geometry, bond types, and sub-atomic particles</p>

<h5>Periodic Properties</h5>

<p>Representative elements, transition elements, periodic trends, and descriptive chemistry</p>

<h5>Nuclear Reactions</h5>

<p>Balancing equations, binding energy, decay processes, particles, and terminology</p>

<h5>Laboratory</h5>

<p>Basic techniques, equipment, error analysis, safety, and data analysis</p>


<h4>Organic Chemistry</h4>

<h5>Mechanisms: Energetics, and Structure</h5>

<p>Elimination, addition, free radical, substitution mechanisms, and other</p>

<h5>Chemical and Physical Properties of Molecules</h5>

<p>Spectroscopy (1H NMR, 13C NMR, infrared, and multi-spectra), structure (polarity, intermolecular forces (solubility, melting/boiling point, etc.), and laboratory theory and techniques (i.e. TLC, separations, etc.)</p>

<h5>Stereochemistry (structure evaluation)</h5>

<p>Chirality, isomer relationships, and conformations</p>

<p>Nomenclature - IUPAC rules and functional groups in molecules</p>

<h5>Individual Reactions of the Major Functional Groups and Combinations of Reactions to Synthesize Compounds</h5>

<p>Alkene/alkyne, aromatic, substitution/elimination, aldehyde/ ketone, carboxylic acids and derivatives, and other</p>

<p>For each area listed above, the following sub-areas apply: general, one-step, and multi-step.</p>

<p>Acid-Base Chemistry - ranking acidity/basicity (structure analysis and pH/pKa data analysis), and prediction of products and equilibria</p>

<h5>Aromatics and Bonding</h5>

<p>Concept of aromaticity, resonance, atomic/molecular orbitals, hybridization, and bond angles/lengths.</p>

<h4>Perceptual Ability Test (PAT)</h4>

The Perceptual Ability Test (PAT) consists of six sections:
<ul>
<li>Keyhole</li>
<li>Top/Front/End Visualization</li>
<li>Angle Ranking</li>
<li>Hole Punches</li>
<li>Cube Counting</li>
<li>Pattern Folding</li>
</ul>

<h4>Reading Comprehension</h4>

<p>The Reading Comprehension Test contains three reading passages on various scientific topics. Prior understanding of the science topics is not a prerequisite to answering the test items. The reading passages require the ability to read, comprehend, and analyze thoroughly basic scientific information.</p>


<h4>Quantitative Reasoning</h4>
(Calculator available on computer screen)

<p>Mathematical Problems - Algebra (equations and expressions, inequalities, exponential notation, absolute value, ratios and proportions, and graphical analysis);</p>

<p>Numerical calculations (fractions and decimals, percentages, approximations, and scientific notation); Probability and Statistics; Geometry; and Trigonometry</p>

<p>Applied Mathematics (Word) Problems</p>
 
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">Information Regarding DAT Exam Dates</a>
        </div>
        <div id="collapse3" class="accordion-body collapse">
            <div class="accordion-inner">
<p>The <strong>American Dental Admission Test</strong> is a computer-based exam administered by the American Dental Association (ADA) and is held at <a href="http://www.prometric.com/en-us/Pages/home.aspx">Prometric</a> Test Centers.</p>

<p>The cost of the DAT is $320. Refunds are not given, and there is a rescheduling fee for changing the test date.</p>

<p>The DAT is flexible regarding dates, times and locations. However, it’s advised that you register your DAT 60 to 90 days in advance to assure you get your desired DAT test date and time.</p>

<p>You can only schedule your test date with the Prometric test center once you receive your eligibility letter by filling out the <a href="http://www.ada.org/dat.aspx">DAT Application</a>.</p>

<p>For more information regarding the Dental Admission Test, please go to: <a href="http://www.ada.org/dat.aspx">ADA’s Website</a></p>

<h4>Information Regarding Canadian DAT Exam</h4>

<p>The <strong>Canadian Dental Aptitude Test</strong> is a paper-based exam and it is administered by the Canadian Dental Association (CDA).</p>

<p>The Canadian DAT is administered only twice a year. Online registration for November 2013 and February 2014 will be available in early summer 2013.</p>

<p>Make sure you register your DAT test date well in advance because seats fill up quickly.</p> 

<p>The fees are $210 for the written portion and $50 for the Manual Dexterity Test (MDT) portion.</p>
<p>DAT fees are not refundable or transferable.</p>
<p>For more information regarding the Canadian Dental Admission Test, please go to: <a href="http://www.cda-adc.ca/en/dental_profession/dat/">CDA’s website</a></p>
 
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">List of Dental Schools</a>
        </div>
        <div id="collapse4" class="accordion-body collapse">
            <div class="accordion-inner">
<h4>Dental Schools in United States</h4>
<ul>
<li>Arizona School of Dentistry and Oral Health</li>
<li>Baylor College of Dentistry, A Member of The Texas A&M University System Health Science Center</li>
<li>Boston University, Goldman School of Dental Medicine</li>
<li>Case Western Reserve University School of Dentistry</li>
<li>Columbia University School of Dental and Oral Surgery</li>
<li>Creighton University School of Dentistry</li>
<li>Harvard School of Dental Medicine</li>
<li>Howard University College of Dentistry</li>
<li>Indiana University School of Dentistry</li>
<li>Loma Linda University School of Dentistry</li>
<li>Louisiana State University School of Dentistry</li>
<li>Marquette University School of Dentistry</li>
<li>Medical College of Georgia School of Dentistry</li>
<li>Medical University of South Carolina College of Dental Medicine</li>
<li>Meharry Medical College School of Dentistry</li>
<li>New York University College of Dentistry</li>
<li>Nova Southeastern University College of Dental Medicine</li>
<li>Ohio State University College of Dentistry</li>
<li>Oregon Health & Science University School of Dentistry</li>
<li>Southern Illinois University School of Dental Medicine</li>
<li>State University of New York at Buffalo School of Dental Medicine</li>
<li>State University of New York at Stony Brook School of Dental Medicine</li>
<li>Temple University School of Dentistry</li>
<li>Tufts University School of Dental Medicine</li>
<li>University of Alabama at Birmingham School of Dentistry</li>
<li>University of California, Los Angeles School of Dentistry</li>
<li>University of California, San Francisco School of Dentistry</li>
<li>University of Colorado School of Dentistry</li>
<li>University of Connecticut School of Dental Medicine</li>
<li>University of Detroit Mercy School of Dentistry</li>
<li>University of Florida College of Dentistry</li>
<li>University of Illinois at Chicago College of Dentistry</li>
<li>University of Iowa College of Dentistry</li>
<li>University of Kentucky College of Dentistry</li>
<li>University of Louisville School of Dentistry</li>
<li>University of Maryland, Baltimore College of Dental Surgery</li>
<li>University of Medicine and Dentistry of New Jersey, New Jersey Dental School</li>
<li>University of Michigan School of Dentistry</li>
<li>University of Minnesota School of Dentistry</li>
<li>University of Mississippi School of Dentistry</li>
<li>University of Missouri-Kansas City School of Dentistry</li>
<li>University of Nebraska Medical Center, College of Dentistry</li>
<li>University of Nevada, Las Vegas School of Dental Medicine</li>
<li>University of North Carolina at Chapel Hill School of Dentistry</li>
<li>University of Oklahoma College of Dentistry</li>
<li>University of the Pacific School of Dentistry</li>
<li>University of Pennsylvania School of Dental Medicine</li>
<li>University of Pittsburgh School of Dental Medicine</li>
<li>University of Puerto Rico, School of Dentistry</li>
<li>University of Southern California School of Dentistry</li>
<li>University of Tennessee College of Dentistry</li>
<li>University of Texas Health Science Center at Houston Dental Branch</li>
<li>University of Texas Health Science Center at San Antonio Dental School</li>
<li>University of Washington School of Dentistry</li>
<li>Virginia Commonwealth University School of Dentistry</li>
<li>West Virginia University School of Dentistry</li>
</ul>
<h4>Dental Schools in Canada</h4>
<ul>
<li>Dalhousie University Faculty of Dentistry </li>
<li>McGill University Faculty of Dentistry</li>
<li>University of Alberta Faculty of Dentistry</li>
<li>University of British Columbia Faculty of Dentistry</li>
<li>University Laval Faculty of Dentistry</li>
<li>University of Manitoba Faculty of Dentistry</li>
<li>University of Montreal Faculty of Dentistry</li>
<li>University of Saskatchewan College of Dentistry</li>
<li>University of Toronto Faculty of Dentistry</li>
<li>University of Western Ontario Faculty of Dentistry</li>
</ul>
            </div>
        </div>
    </div>
</div>
<ul>
    <li><a href="http://www.ada.org/sections/educationAndCareers/pdfs/dat_examinee_guide.pdf">DAT 2013 Program Guide (provided by ADA)</a></li> 
    <li><a href="http://www.ada.org/sections/educationAndCareers/pdfs/dat_checklist.pdf">DAT Test Day Checklist (provided by ADA)</a></li> 
    <li><a href="http://www.ada.org/sections/educationAndCareers/pdfs/dat_faq.pdf">DAT Sample Test (provided by ADA)</a></li> 
    <li><a href="http://www.ada.org/sections/educationAndCareers/pdfs/dat_test_sampleitems.pdf">DAT FAQ (provided by ADA)</a></li>
</ul>
{% endblock %}
