{% extends 'base.html' %}
{% load url from future %}

{% block jquery %}
var window_height = $(window).height()-300;
$('div#test_review_content').css({'height': window_height + 'px'});
$('div#test_review_content').nanoScroller({flash: true, flashDelay: 100000});
$(window).resize(function() {
    var window_height = $(window).height()-300;
    $('div#test_review_content').css({'height': window_height + 'px'}).nanoScroller({flash: true, flashDelay:100000});

});
{% if sitting.is_timed %}
$('#timer').countdown({until: new $.countdown.UTCDate({{ sitting.timerstring }}), expiryUrl: '{% url 'sitting_end' sitting.id %}', layout: '<i class="icon-time"> </i> {mnn}{sep}{snn}'});
{% endif %}

function timerCallback() {
    alert('times up');
}
{% endblock %}

{% block base_content %}
<div id="test_container">
<div id="test">
<div id="timer" class="pull-right"></div>
<h1>review</h1>
<div id="test_review_header" class="table-center">
    <div class="content">
    <table id="review_table_header" class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th class="cell-center">Marked</th>
            <th class="cell-center">Completed</th>
            <th class="cell-center">Skipped</th>
        </tr>
    </thead>
    <tbody style="visibility: collapse;">
        <tr><td>Question 11</td><td></td><td></td><td></td></tr>
    </tbody>
    </table>
    </div>
</div>
<div id="test_review_content" class="nano table-center">
    <div class="content">
    <table id="review_table" class="table table-condensed">
    <thead style="visibility: collapse;">
        <tr>
            <th></th>
            <th class="cell-center">Marked</th>
            <th class="cell-center">Completed</th>
            <th class="cell-center">Skipped</th>
        </tr>
    </thead>
    <tbody>
    {% for item in question_data %}
    {% if not item.completed %}
    <tr class="error">
    {% elif item.marked %}
    <tr class="warning">
    {% else %}
    <tr>
    {% endif %}
    <td><a href="{% url 'sitting_question' sitting.id forloop.counter %}">Question {{ forloop.counter }}</a></td><td class="cell-center">{% if item.marked %}<i class="icon-ok"></i>{% endif %}</td><td class="cell-center">{% if item.completed %}<i class="icon-ok"></i>{% endif %}</td><td class="cell-center">{% if item.skipped %}<i class="icon-ok"></i>{% endif %}</td>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <br />
</div>
<div class="review_buttons table-center">
<table style="width: 100%">
<tr>
<td class="cell-center"><a href="{% url 'sitting_question' sitting.id 1 %}" class="btn">Review All</a></td>
<td class="cell-center"><a href="{% url 'sitting_review_incomplete' sitting.id 1 %}" class="btn">Review Incomplete</a></td>
<td class="cell-center"><a href="{% url 'sitting_review_marked' sitting.id 1 %}" class="btn">Review Marked</a></td>
<td class="cell-center"><a href="{% url 'sitting_end' sitting.id %}" class="btn">End</a></td>
</tr>
</table>
</div>
{% comment %}
<br />
marked: {{ sitting.marked.count }}<br />
incomplete: {{ sitting.incomplete_count }}
{% endcomment %}
</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
